<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/style/style.css}" rel="stylesheet"/>
</head>
<body>
<main layout:fragment="contenu">
    <div class="card">
        <div class="card-header">
            Liste des tickets
            <a th:href="@{/client/ticket/add}" class="btn btn-outline-primary w-25" style="float: right">Ajouter</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Envirennement</th>
                    <th scope="col">Logiciel</th>
                    <th scope="col">Status</th>
                    <th scope="col">Urgence</th>
                    <th scope="col">Client</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="t:${tickets}">
                    <td th:text="${t.id}"></td>
                    <td th:text="${t.description}"></td>
                    <td th:text="${t.envirenemment}"></td>
                    <td th:text="${t.logiciel}"></td>
                    <td th:text="${t.status}"></td>
                    <td th:text="${t.urgence}"></td>
                    <td th:text="${t.client}"></td>
                    <td><a th:href="@{/admin/tickets/affecter/{id} (id=${t.id})}" class="btn btn-primary">Affecter</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>